<!DOCTYPE HTML>
<html>
	<head>
	
		<title>{{title}}</title>

		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

<!--fonts-->		
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Homemade+Apple|Jura|Open+Sans+Condensed:300|Pacifico|Questrial" rel="stylesheet">

<!-- CSS-->		
		<link href="css/style.css" rel="stylesheet">

	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col">			
					<h1>hello world- I'm Ray!</h1>
				</div>
<!--closes first row--></div>		
				
			<div class="row">
				<div class="bg-cover2">
				</div>	
<!--closes second row--></div>

			<div class="row">		
			<div class="col">				
				<ul style="list-style-type:none;">			
					<li><h2><a href="index.html">home</a></h2></li>		
					<li><h2><a href="blog.html">my blog</a></h2></li>
					<li><h2><a href="projects.html">my projects</a></h2></li>				
					<li><h2><a href="contactme.html">contact me</a></h2></li>		
				</ul>
			</div>	

			<div class="col-8">
